table {
  width: 100%;
}

.text-search{
  width: 100%;
}

.search-container {
  width: 1000px;
  margin: auto;
}

.search-form {

  &__spinner {
    position: absolute;
    top: 3px;
    left: -40px;
  }
}
